/* *{
     box-sizing: border-box;
     margin: 0;
     padding: 0;
} */

.header{
     display: flex;
     width:100%;
     margin-left: 375px;
     margin-right: 375px;
     align-items: center;
     justify-content: flex-start;
     position:fixed;

}

nav{
          
     background-color:#14120c;
     font-family: "Inter", sans-serif;
     text-decoration: aliceblue;
     z-index: 1000; 
     background-color: #14120c;
     position: relative;
     top: 0;
     width: 1200px;
     margin: 0;
     padding:0;    
     
}


.nav-inside{
     display: flex;
     margin: 0;
     padding: 0;
     align-items: center;
     justify-content: space-between;
     max-width: 1200px;
}





.logo {
  display: flex;
  align-items:center;
  margin: 0;
  height: 22px;
  flex-shrink: 0;
  
  
}


nav .logo img{
  height: 22px;     
  display: flex;
  padding-left: 0;
  padding-top: 0;
  margin: 0;
  justify-content: flex-start;
  align-items: center;
}


nav .menu{
     list-style: none;
     display: flex;
     gap: 1.6rem;
     align-items: center;
     justify-content: space-evenly;
}

.menu a {
     text-decoration: none;
     font-size: 0.95rem;
     font-weight: 500;
     color: #e5e7eb;
     justify-content: space-evenly;
}


.nav-inside-right{
     display: flex;
     gap: 15 px;
     align-items: center;
     justify-content: flex-end;
}


.nav-right .signin-btn{
     background: transparent;
     border:1px solid gray;
     border-radius: 26px;
     color: #e5e7eb;
     font-size: 14px;
     font-family: "Inter", sans-serif;
     font-weight: 500;
     cursor: pointer;
     padding-top: 4px;
     padding-bottom: 4px;
     padding-left: 12px;
     padding-right: 12px;   
      
}




nav .download-btn {
     background-color: #edecec;
     color:#14120c;
     border: none;
     border-radius: 28px;
     padding-top: 8px;
     padding-bottom: 8px;
     padding-left: 16px;
     padding-right: 16px;
     font-size: 16px;
     font-family: "Inter", sans-serif;
     font-weight: 400;
     cursor: pointer;
}

body{
     font-family: "Inter", sans-serif;
     background-color: #14120c;
     margin: 0;
     line-height: 1.6;
     align-items: center;
     justify-content: center;
     
     
}

main{
     display: flex;
     align-items: center;
     justify-content: flex-start;
     margin-left: 375px;
     margin-right: 375px;

}


main div h1 {
     display: flex;
     color:#edecec;
     padding-top: 150px;
     padding-bottom: 8px;
     font-family: "Inter", sans-serif;
     font-size: 1.625rem;
     line-height: 32px;
     font-weight: 500;
     font-style: bold;
     align-items: center;
     overflow: hidden;
     
}

main .hero-btn{
     display: flex;
     font-family: "Inter", sans-serif;
     border-radius: 28px;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 20px;
     padding-right: 20px;
     font-weight: 500;
     text-align: center;
     font-size: 17px;
     justify-content:center;
     align-items: center;
}